:root {
  --dark-intro: hsl(217, 28%, 15%);
  --dark-main: hsl(218, 28%, 13%);
  --dark-footer: hsl(216, 53%, 9%);
  --dark-test: hsl(219, 30%, 18%);
  --cyan-grad: hsl(176, 68%, 64%);
  --blue-grad: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --clr-white: hsl(0, 0%, 100%);
}
