@use "../global" as *;
@use "../util" as *;

.footer {
  background-color: var(--dark-footer);
  color: var(--clr-white);
  margin-top: rem(-175);
  padding-top: rem(250);
  padding-bottom: rem(44);
  font-family: var(--font-secondary);

  @include mq(medium) {
    padding-left: rem(120);
    padding-right: rem(120);
  }

  &-logo {
    margin-bottom: rem(32);
    @include maxLength;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr;
    @include maxLength;

    @include mq(small) {
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(medium) {
      grid-template-columns: repeat(7, 1fr);
      align-items: flex-start;
      column-gap: rem(16);
    }
  }

  &-location {
    margin-bottom: rem(24);

    @include mq(medium) {
      grid-column: 1 / 3;
    }

    &-dot {
      padding-left: rem(32);

      @include mq(medium) {
        text-align: left;
      }

      &::before {
        content: url("../images/icon-location.svg");
        margin-left: rem(-32);
        margin-right: rem(16);
      }
    }
  }

  &-contact {
    margin-bottom: rem(75);

    @include mq(medium) {
      text-align: left;
      grid-column: 3 / 5;
      justify-self: center;
    }

    &-phone,
    &-email {
      &::before {
        margin-right: rem(16);
      }
    }

    &-phone {
      margin-bottom: rem(16);

      &::before {
        content: url("../images/icon-phone.svg");
      }
    }

    &-email {
      &::before {
        content: url("../images/icon-email.svg");
      }
    }
  }

  &-location,
  &-contact {
    font-size: rem(15);

    > p {
      line-height: 1.7;
    }
  }

  &-about-us {
    margin-bottom: rem(50);
  }

  &-contact-us {
    margin-bottom: rem(75);
  }

  &-about-us,
  &-contact-us {
    grid-row-gap: rem(20);

    > a {
      display: inline-block;
      color: var(--clr-white);

      &:hover,
      &:focus {
        font-weight: bold;
      }
    }
  }

  &-socialmedia {
    gap: rem(16);

    @include mq(small) {
      grid-column: 1 / -1;
    }

    @include mq(medium) {
      grid-column: initial;
    }

    > a {
      display: inline-flex;
      color: var(--clr-white);
      border-radius: 50%;
      border: 1px solid var(--clr-white);
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      transition: color 200ms ease, border 200ms ease, background 200ms ease;

      > i {
        pointer-events: none;
      }
    }

    &-fcb:hover {
      border: 1px solid #0777e7;
      background: #0777e7;
    }
    &-twt:hover {
      border: 1px solid #059aee;
      background: #059aee;
    }

    &-ins:hover {
      border: 1px solid purple;
      background: linear-gradient(0deg, yellow, red, purple);
    }
  }
}

.about-me {
  text-align: center;
  padding: rem(24);
  color: var(--clr-white);
  background-color: var(--dark-intro);
  font-size: rem(18);
}
