@use "../global" as *;
@use "../util" as *;

.main-header {
  background-color: var(--dark-intro);
}

.navigation {
  padding: rem(24);
  @include maxLength;

  @include mq(small) {
    padding: rem(64) rem(36) rem(16);
  }

  .logo {
    width: 70%;
  }
}

.menu {
  &-item {
    &:not(:last-child) {
      margin-right: rem(24);
    }
  }

  &-link {
    display: inline-block;
    width: max-content;
    color: var(--clr-white);
    border-bottom: 1px solid transparent;
    transition: border-bottom 200ms ease-in, font-weight 200ms ease-in;

    &:hover,
    &:focus {
      border-bottom: 1px solid var(--clr-white);
      font-weight: bold;
    }
  }
}
