@use "../global" as *;
@use "../util" as *;

.hero {
  background: url("../images/bg-curvy-mobile.svg") center no-repeat,
    linear-gradient(to bottom, var(--dark-intro) 58%, var(--dark-main) 58%, var(--dark-main) 100%) no-repeat;
  background-size: 100% rem(180), 100%;
  width: 100%;
  text-align: center;
  color: var(--clr-white);
  position: relative;

  @include mq(small) {
    background: url("../images/bg-curvy-desktop.svg") bottom no-repeat, linear-gradient(var(--dark-intro), var(--dark-intro));
    background-size: 100% rem(400), 100%;
  }

  &-content {
    min-width: rem(305);
    max-width: rem(504);
    margin: 0 auto;
  }

  &-img {
    padding-top: rem(40);
    padding-bottom: rem(40);

    img {
      margin: 0 auto;
    }
  }
}
